
!Software Version V500R005C10SPC300
!Last configuration was saved at 2024-12-22 10:35:03 UTC
#
sysname FW
#
 l2tp domain suffix-separator @
#
vlan batch 10 20 30 40 50 60
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
clock timezone UTC add 00:00:00
#
 update schedule location-sdb weekly Sun 04:07
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 04:36
 update schedule av-sdb daily 04:36
 update schedule sa-sdb daily 04:36
 update schedule cnc daily 04:36
 update schedule file-reputation daily 04:36
#
vsys enable 
resource-class r0
#
#
vsys name vsys1 1
 assign vlan 10
 assign vlan 20
 assign vlan 50
#
vsys name vsys2 2
 assign vlan 30
 assign vlan 40
 assign vlan 60
#
vsys name vsys 3
#
ip vpn-instance default
 ipv4-family
#
ip vpn-instance vsys
 ipv4-family
 ipv6-family
#
ip vpn-instance vsys1
 ipv4-family
 ipv6-family
#
ip vpn-instance vsys2
 ipv4-family
 ipv6-family
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%gAhsKYP$p~v,h9RQ-hq1Ay'IDTCi11~SK3>e=vUiW[iPy'LA@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%eap(1ZR;@G6T~\<W`=$67qI~v`=r=g_Q>SK.iWFwy6>AqIB7@%@%
  level 15 

 manager-user admin 
  password cipher @%@%Jeq>Hh_8I+GZhSXbos*3$2va'n4K7"1&]<XqXe5.8}gD2vd$@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
interface Vlanif10
 ip binding vpn-instance vsys1
 ip address 1.1.1.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif20
 ip binding vpn-instance vsys1
 ip address 2.2.2.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif30
 ip binding vpn-instance vsys2
 ip address 3.3.3.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif40
 ip binding vpn-instance vsys2
 ip address 4.4.4.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif50
 ip binding vpn-instance vsys1
 ip address 192.168.1.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif60
 ip binding vpn-instance vsys2
 ip address 192.168.2.253 255.255.255.0
 service-manage ping permit
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 192.168.0.1 255.255.255.0
 alias GE0/METH
 service-manage ping permit
#
interface GigabitEthernet1/0/0
 portswitch
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 10 20 30 40 50 60
#
interface GigabitEthernet1/0/1
 undo shutdown
#
interface GigabitEthernet1/0/2
 undo shutdown
#
interface GigabitEthernet1/0/3
 undo shutdown
#
interface GigabitEthernet1/0/4
 undo shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
#
interface GigabitEthernet1/0/6
 undo shutdown
#
interface Virtual-if0
 ip address 172.16.0.3 255.255.255.0
#
interface Virtual-if1
 ip address 172.16.0.1 255.255.255.0
#
interface Virtual-if2
 ip address 172.16.0.2 255.255.255.0
#
interface Virtual-if3
#
interface NULL0
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet1/0/0
 add interface Virtual-if0
#
firewall zone dmz
 set priority 50
#
ip route-static vpn-instance vsys1 4.4.4.0 255.255.255.0 vpn-instance vsys2
ip route-static vpn-instance vsys2 2.2.2.0 255.255.255.0 vpn-instance vsys1
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return
#
switch vsys vsys1 
#
 l2tp domain suffix-separator @
#
 firewall defend action discard
#
page-setting
password-policy
 level high
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
#
interface Vlanif10
 ip binding vpn-instance vsys1
 ip address 1.1.1.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif20
 ip binding vpn-instance vsys1
 ip address 2.2.2.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif50
 ip binding vpn-instance vsys1
 ip address 192.168.1.253 255.255.255.0
 service-manage ping permit
#
l2tp-group default-lns
#
interface Virtual-if1
 ip address 172.16.0.1 255.255.255.0
#
sa
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
#
firewall zone untrust
 set priority 5
 add interface Virtual-if1
 add interface Vlanif10
 add interface Vlanif20
 add interface Vlanif50
#
firewall zone dmz
 set priority 50
#
location
#
multi-linkif
 mode proportion-of-weight
#
security-policy
 rule name ttu
  source-zone trust
  destination-zone untrust
  source-address 192.168.1.0 mask 255.255.255.0
  service icmp
  action permit
 rule name utt
  source-zone untrust
  destination-zone trust
  source-address 1.1.1.0 mask 255.255.255.0
  source-address 2.2.2.0 mask 255.255.255.0
  destination-address 192.168.1.0 mask 255.255.255.0
  service icmp
  action permit
 rule name utu
  source-zone untrust
  destination-zone untrust
  source-address 1.1.1.0 mask 255.255.255.0
  source-address 2.2.2.0 mask 255.255.255.0
  destination-address 3.3.3.0 mask 255.255.255.0
  destination-address 4.4.4.0 mask 255.255.255.0
  service icmp
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
ip route-static 3.3.3.0 255.255.255.0 192.168.1.1
#
return
#
switch vsys vsys2 
#
 l2tp domain suffix-separator @
#
 firewall defend action discard
#
page-setting
password-policy
 level high
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
#
interface Vlanif30
 ip binding vpn-instance vsys2
 ip address 3.3.3.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif40
 ip binding vpn-instance vsys2
 ip address 4.4.4.253 255.255.255.0
 service-manage ping permit
#
interface Vlanif60
 ip binding vpn-instance vsys2
 ip address 192.168.2.253 255.255.255.0
 service-manage ping permit
#
l2tp-group default-lns
#
interface Virtual-if2
 ip address 172.16.0.2 255.255.255.0
#
sa
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
#
firewall zone untrust
 set priority 5
 add interface Virtual-if2
 add interface Vlanif30
 add interface Vlanif40
 add interface Vlanif60
#
firewall zone dmz
 set priority 50
#
location
#
multi-linkif
 mode proportion-of-weight
#
security-policy
 rule name ttu
  source-zone trust
  destination-zone untrust
  source-address 192.168.1.0 mask 255.255.255.0
  service icmp
  action permit
 rule name utt
  source-zone untrust
  destination-zone trust
  source-address 3.3.3.0 mask 255.255.255.0
  source-address 4.4.4.0 mask 255.255.255.0
  destination-address 192.168.1.0 mask 255.255.255.0
  destination-address 192.168.2.0 mask 255.255.255.0
  service icmp
  action permit
 rule name utu
  source-zone untrust
  destination-zone untrust
  source-address 3.3.3.0 mask 255.255.255.0
  source-address 4.4.4.0 mask 255.255.255.0
  destination-address 1.1.1.0 mask 255.255.255.0
  destination-address 2.2.2.0 mask 255.255.255.0
  service icmp
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
ip route-static 1.1.1.0 255.255.255.0 192.168.2.1
ip route-static 192.168.1.0 255.255.255.0 192.168.2.1
#
return
#
switch vsys vsys 
#
 l2tp domain suffix-separator @
#
 firewall defend action discard
#
page-setting
password-policy
 level high
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
#
l2tp-group default-lns
#
interface Virtual-if3
#
sa
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
#
firewall zone untrust
 set priority 5
#
firewall zone dmz
 set priority 50
#
location
#
multi-linkif
 mode proportion-of-weight
#
security-policy
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
#
quota-policy
#
pcp-policy
#
return  